<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>
        {{Store.person.userName}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only class="settings" (click)="openLogin()">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ion-list inset>
      <ion-item>
        <ion-label>任务简称</ion-label>
        <ion-input item-end id="taskForm.taskName" [(ngModel)]="taskForm.taskName" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>任务标签</ion-label>
        <ion-select [(ngModel)]="taskForm.taskType">
          <ion-option value=""></ion-option>
          <ion-option value="person">person</ion-option>
          <ion-option value="work">work</ion-option>
          <ion-option value="business">business</ion-option>
          <ion-option value="study">study</ion-option>
          <ion-option value="travel">travel</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>前置任务</ion-label>
        <ion-select [(ngModel)]="taskForm.taskBefore">
          <ion-option value=""></ion-option>
          <ion-option *ngFor="let option of taskList, let i = index" [value]="option.taskId">{{option.taskName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>时间限制</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="taskForm.taskLimit"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>完成条件</ion-label>
        <ion-select [(ngModel)]="taskForm.taskCondition">
          <ion-option value="photo">图片</ion-option>
          <ion-option value="commit">评论</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>预计时间</ion-label>
        <ion-select [(ngModel)]="taskForm.taskTime">
          <ion-option value="1">一小时</ion-option>
          <ion-option value="2">二小时</ion-option>
          <ion-option value="3">三小时</ion-option>
          <ion-option value="4">三小时以上</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>是否提醒</ion-label>
        <ion-toggle [(ngModel)]="taskForm.taskWarn" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>是否公开</ion-label>
        <ion-toggle [(ngModel)]="taskForm.taskPublic" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>优先级</ion-label>
        <ion-range min="1" max="4" step="1" snaps="true" color="secondary" [(ngModel)]="taskForm.taskPriority"></ion-range>
      </ion-item>
      <button ion-button block outline *ngIf="!isEdit" (click)="createTask()">确认添加</button>
      <button ion-button block outline *ngIf="isEdit" (click)="editTask()">确认修改</button>
    </ion-list>
  </ion-content>